@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.agentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.agentImgContainer {
  display: flex;
  width: 98vw;
  height: 40vw;
  background-color: brown;
  overflow: hidden;
}

.background {
  width: 45rem;
}

.fullportrait {
  width: 30rem;
}

ul {
  display: flex;
  list-style: none;
  width: 90vw;
  justify-content: space-around;

  .agentli {
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
  }
}

.agentfull {
  width: 41rem;

  overflow: hidden;
  transform: translateX(-26rem);
}

.imgAgent {
  transform: scale(2) translate(9px, 82px);
}
