main {
  font-family: Consolas, monaco, monospace;
  height: 40vw;
  width: 100vw;
  background: rgb(85, 137, 189);
  background: linear-gradient(90deg, #18344c 75%, #66376c 100%);
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  .mainImg {
    overflow: hidden;
    .FadefullPortrait {
      width: 40vw;
      transform: scale(1);
      animation: glitch 1000ms 1;
    }
    .Fadebackground {
      transform: translateX(-7vw);
      width: 19vw;
      position: absolute;
    }
  }
}

main::selection {
  background: #da4955;
}

.info {
  margin-left: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  span {
    color: #fff;
    text-align: center;
    font-size: 3vw;
  }
  span::selection {
    background: #da4955;
  }

  button {
    cursor: pointer;
    font-size: 1.5vw;
    margin-top: 5vw;
    width: 18vw;
    height: 4vw;
    background-color: #ff4655;
    border: none;
  }
  button:hover {
    background-color: #da4955;
  }
}

@keyframes glitch {
  0% {
    transform: translateX(20vw);
    filter: drop-shadow(62.5rem 1rem 0rem #da4955);
  }
  70% {
    transform: translateX(0vw);
  }

  100% {
    filter: drop-shadow(0rem 0rem 0rem #da4955);
  }
}
